/* 
 Custom CSS por SenLucario Para la Extension
 TabLiss (Firefox - Chromiun)

 enlace de la extension
 https://tabliss.io/
 Chromiun - https://chrome.google.com/webstore/detail/tabliss-a-beautiful-new-t/hipekcciheckooncpjeljhnekcoolahp
 Firefox - https://addons.mozilla.org/es/firefox/addon/tabliss/?src=external-tabliss.io
*/

.Weather .summary{
    text-shadow:0px 0px 12px rgba(39, 39, 48,100%);
    transition:background 0.3s;
    padding:10px;
    font-size:25px;
}
.Weather .summary:hover{
    background:rgba(39, 39, 48,20%);
}
.Weather .details{
    text-shadow:0px 0px 12px rgba(39, 39, 48,100%);
    transition:background 0.3s;
    padding:5px;
    font-size:17.5px;
}
.Weather .details:hover{
    background:rgba(39, 39, 48,20%);
}
.Weather{
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}
.Search > input{
    text-shadow:0px 0px 10px rgba(39,39,48,90%);
    background:rgba(39,39,48,22%);
    transform:translateX(-20%) translateY(-30%);
    width:170%;
    transition:border 1s,background 0.4s linear,box-shadow 0.8s ease;
    transform:translate(-20%,-20px) scale(1.19,1.19);
    border-bottom:1px solid #fff;
}
.Search > input::-moz-selection{
    background:rgba(97,97,120,50%);
    color:rgb(10,11,13);
}
.Search > input::-webkit-selection{
    background:rgba(97,97,120,50%);
    color:rgb(10,11,13);
}
.Search > input::selection{
    background:rgba(97,97,120,50%);
    color:rgb(10,11,13)
}
.Search > input:hover{
    transform:translate(-20%,-40%) scale(1.27,1.27);
    transition:transform 0.3s cubic-bezier(.34,1.75,.37,.8),filter 0.3s;
    border-bottom:1.5px solid rgba(0, 0, 0, 0);
    border-left:1.5px solid rgba(0, 0, 0, 0);
    border-right:1.5px solid rgba(0, 0, 0, 0);
    border-top:1.5px solid rgba(0, 0, 0, 0);
    background:rgba(39, 39, 48, 0.726);
    box-shadow:0px 0px 40px rgba(25, 25, 31, 0.774);
    animation:opacidadanimama 2s infinite ease-in;
}
@keyframes opacidadanimama{
    0%{
        border-bottom:1px solid rgb(255, 255, 255);
        border-left:1px solid rgba(0, 0, 0, 0);
        border-right:1px solid rgba(255, 255, 255, 0.384);
        border-top:1px solid rgba(0, 0, 0, 0);
    }
    25%{
        border-bottom:1px solid rgba(255, 255, 255, 0.384);
        border-left:1px solid rgb(255, 255, 255);
        border-right:1px solid rgba(0, 0, 0, 0);
        border-top:1px solid rgba(0, 0, 0, 0);
    }
    50%{
        border-bottom:1px solid rgba(0, 0, 0, 0);
        border-left:1px solid rgba(255, 255, 255, 0.384);
        border-right:1px solid rgba(0, 0, 0, 0);
        border-top:1px solid rgb(255, 255, 255);
    }
    75%{
        border-bottom:1px solid rgba(0, 0, 0, 0);
        border-left:1px solid rgba(0, 0, 0, 0);
        border-right:1px solid rgb(255, 255, 255);
        border-top:1px solid rgba(255, 255, 255, 0.384);
    }
    100%{
        border-bottom:1px solid rgba(0, 0, 0, 0);
        border-left:1px solid rgba(0, 0, 0, 0);
        border-right:1px solid rgba(255, 255, 255, 0.384);
        border-top:1px solid rgba(0, 0, 0, 0);
    }
}
.Widgets h1, .Widgets h2, .Widgets h3, .Widgets h4{
    text-shadow:1px 3px 10px rgba(39,39,48,53%);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    transition:text-shadow 0.4s cubic-bezier(.34,1.75,.37,.8);
    font-size:3em;
}
.Overlay svg{
    box-shadow:0px 0px 10px rgba(39,39,48,30%);
    border-radius:50%;
    background:rgba(39,39,48,40%);
    padding:4px;
    width:25px;
    height:25px;
}
.ImageSettings .grid .preview button{
    padding:4px;
    width:40px;
    height:40px;
    border-radius:50%;
    transition:transform 0.4s ease,opacity 0.5s;
}
.ImageSettings .grid .preview button:hover{
    transform:translate(-50%, -50%) scale(1.17,1.17);
}
.Settings .plane{
    background:rgba(28, 32, 37, 0.719);
    text-shadow:0 0 20px rgba(124, 124, 124, 0.3);
    box-shadow:0 0 20px rgba(15,15,15,0.8);
    transition: all 1s;
    padding-left:50px;
    padding-right:50px;
    width:50%;
    max-width:1000px;
}
@media only screen and (max-width: 1000px) {
    .Settings .plane{
        padding-left:25px;
        padding-right:25px;
        width:80%;
        max-width:none;
    }
    .ImageSettings .grid .preview:hover{
        transform:scale(1.1,1.1);
    }
}
.Settings .Widget{
    background: rgb(25, 27, 31);
    color:rgb(197, 197, 197);
}
.Settings h2, .Settings h3, .Settings h4{
    color:rgb(255, 255, 255);
}
span,p{
    color:rgb(163, 163, 163);
}
.Settings input[type="email"], .Settings input[type="file"], .Settings input[type="number"], .Settings input[type="text"], .Settings input[type="url"], .Settings textarea, .Settings select{
    color:rgb(24, 24, 24);
}
.Settings .Widget .title--buttons button{
    transition:transform 0.5s; 
}
.Settings .Widget .title--buttons button:hover{
    transform:scale(1.2,1.2);
}
.ImageSettings .grid .preview{
    transition:transform 0.5s;
}
.ImageSettings .grid .preview:hover{
    transform:scale(1.2,1.2);
    z-index:1000;
}
.Settings input[type="email"], .Settings input[type="file"], .Settings input[type="number"], .Settings input[type="text"], .Settings input[type="url"], .Settings textarea, .Settings select{
    color:rgb(126, 126, 126);
}